# SPDX-License-Identifier: LGPL-2.1-or-later
mkosi.local/
mkosi.local.conf
mkosi.output/
mkosi.cache/
mkosi.packages/
mkosi.conf.d/90-aur.conf
.aur-prepare-*/
mkosi.tools/
mkosi.tools.manifest
mkosi.key
mkosi.crt
mkosi.version
mkosi.rootpw
.mkosi-private
